#quem-somos {
    background-color: rgb(245, 247, 252);

    margin: 1rem;

    text-align: center;
    border-radius: 0.6rem;

    cursor: default;
}

#quem-somos h1 {
    font-size: 1.4rem;
    color: rgb(85, 110, 156);
    
    margin: 1rem;
}

#quem-somos p {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.produtos h1 {
    font-size: 1.9rem;
    cursor: default;
    margin-left: 3rem;
}

.busca {
    display: flex;
    justify-content: space-between;

    margin: 1rem;
}

.busca input {
    height: 2.1rem;
    width: 37rem;

    font-size: 1.2rem;

    border: hidden;
    border-bottom: 2px solid rgb(85, 110, 156);
    outline: none;
}

.busca img {
    height: 2.4rem;
    margin: 0 0.5rem;

    border: 2px solid rgb(34, 34, 75);
    border-radius: 0.3rem;
}

.tabela {
    background-color:  rgb(204, 231, 231);

    width: 98.75vw;
    margin: 0;

    cursor: default;
}

.produtos h2 {
    background-color: rgb(140, 211, 211);

    border: 1px solid rgb(124, 192, 192);
    border-radius: 0.2rem;

    padding: 0.5rem;
    margin: 2rem;

    font-size: 2rem;

    cursor: default;
    text-align: center;
}

table {
    border: 2px solid rgb(34, 34, 75);
    border-radius: 0.2rem;
    margin: 1.5rem;
}

#destaque {
    display: flex;
    justify-content: center;

    text-align: center;
}

#destaque td {
    height: 5rem;
}

#destaque img {
    height: 23rem;

    border-bottom: 2px solid;
}

#destaque table {
    background-color: white;
}

#novo {
    display: flex;
    justify-content: center;

    text-align: center;
}

#novo img {
    height: 23rem;

    border-bottom: 2px solid;
}

#novo table {
    background-color: white;
}

#novo td {
    height: 5rem;
}

@media screen and (max-width : 380px) {
    .produtos h1 {
        margin: 0;

        text-align: center;
    }

    .busca input {
        height: 2.4rem;
        width: 17rem;

        margin-left: 0.5rem;
    }

    .tabela {
        width: 100vw;
    }

    #destaque, #novo {
        flex-direction: column;
    }

    #destaque img, #novo img {
        height: 20rem;
    }
}