* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

header {
    background-color: rgb(200, 222, 233);

    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;

    padding: 1rem;
}

.icon {
    height: 1rem;
    padding: 0;
    margin: 0;
}

#icon {
    height: 5rem;

    border: 1px solid rgb(0, 0, 19);
    border-radius: 0.3rem;
}

.h1 {
    grid-column-start: 2;

    font-size: 3rem;
    color: rgb(1, 1, 34);

    margin: 0 auto;
}

#button {
    grid-column-start: 3;

    text-align: end;
}

button {
    background-color: rgb(177, 211, 231);

    padding: 0.6rem;
    margin-left: 0.5rem;
    border: 3px solid rgb(87, 128, 146);
    border-radius: 0.4rem;

    font-size: 1.2rem;

    outline: none;
}

button:active {
    background-color: rgb(87, 128, 146);
}

.nav {
    display: flex;
    justify-content: space-evenly;

    background-color: rgb(200, 222, 233);

    padding: 0.5rem;
}

nav a {
    border: 2px hidden;

    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

nav a:hover {
    border-bottom: 2px solid black;
}

footer {
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

footer p {
    grid-column: 1/3;
    grid-row: 1;

    font-size: 1.3rem;
}

.rede a {
    text-decoration: none;
}

a #face {
    grid-column-start: 2;
    grid-row-start: 2;

    text-decoration: none;
}

#twitter {
    grid-column-start: 2;
    grid-row-start: 3;

    text-decoration: none;

}

#insta {
    grid-column-start: 2;
    grid-row-start: 4;
}

#whats {
    grid-column-start: 2;
    grid-row-start: 5;
}