#habilidades #meme img {
    margin-top: 0.4rem;

    height: 15rem;

    border-radius: 1rem;
}

#habilidades #coluna {
    display: grid;
    grid-template-columns: 1fr 14rem;

    padding-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 0.3rem;
    padding-top: 0.6rem;
}