#index #projetos {
    width: auto;
    height: 100vh;
}

#index #projetos img {
    margin: 0;
    max-height: 8rem;
    height: auto;
    width: 100%;
}

#projeto h3, b, i {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0.3rem;

    font-size: 1.7rem;
    color: brown;
}

#projeto #proj-site ul, li {
    display: flex;

    margin-left: 0.7rem;
    margin-top: 0.3rem;
}

#proj-site a {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}