<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="main-container">
        <div id="first"></div>
        <div class="top">                
            <div class="blue1">blue1</div>
            <div class="yellow1">yellow1</div>
            <div class="green1">green1</div>
            <div class="blue2">blue2</div>
            <div class="yellow2">yellow2</div>
            <div class="green2">green2</div>
        </div>

        <div class="meio">
            <div class="black1">black1</div>
            <div class="black2">black2</div>
        </div>

        <div class="footer">
            <div class="white1">white1</div>
            <div class="white2">white2</div>
            <div class="white3">white3</div>
    </div>
</body>

</html>