.main {
    padding-top: 0;
}

main {
    text-align: center;
    margin: 1rem;
}

h2 {
    padding-bottom: 1rem;
    margin: 0;
}

a {
    background-color: darkturquoise;

    display: block;

    text-decoration: none;
    color: black;
}

video {
    height: 30vw;

    margin-bottom: 0.7rem;
}